.DS_Store
._.DS_Store
._readme.txt
._test.eps
mlsalt5_practical/
param_search/
scoring/
comb_hits/
output/
FSTs/
*.LOG
*.xml
*.png
*.log
*.txt
*.html
*.gz
*.sh
*.csv
*.out
*.pyc
.DS_Store
*.pd
*.fst
*.json
